.no-padding {
	padding: 0;
}
h1 {
	display: block;
	width: 512px;
	max-width: 100%;
	height: 127px;
	text-indent: -9000px;
	overflow: hidden;
	background: url('assets/title.png') no-repeat;
	background-size: 100%;
	z-index: 9999999;
}
.content {
	position: absolute;
    top: 45%;
    left: 40px;
    max-width: 80%;
}
video#video {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	background: url(assets/video.png) no-repeat;
	background-size: cover;
}
.env {	
    display: table;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.modal-body {
	padding: 0;
}