.no-padding {
	padding-left: 0;
	padding-right: 0;
}
h1 {
	display: block;
	width: 512px;
	max-width: 100%;
	height: 127px;
	text-indent: -9000px;
	overflow: hidden;
	background: url('assets/title_yellow.png') no-repeat;
	background-size: 100%;
	z-index: 9999999;
}
a:link, a:hover, a:visited {
	color: #ffffff;
	text-decoration: underline;
}
.content {
	position: absolute;
    top: 45%;
    left: 40px;
    max-width: 80%;
}
video#video {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	top: 0;
	right: 0;
	background: url(assets/video.png) no-repeat;
	background-size: cover;
}
.env {	
    display: table;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.modal-body {
	padding: 0;
}
.albums h2, .bio h2 {
	margin: 1.5em 0 1em 0; 
}
.albums h4 {
	margin: 1em 0 0.5em 0; 
}
.albums p, .bio p {
	margin: 0.5em 0 2.5em 0;
}
.black {
	background-color: #000c1e;
	color: #ffffff;
}
.black hr {
	border-top-color: rgba(255,255,255,.3);
}
.bio { position: relative; }
.bio picture {
	margin-right: 0.5em;
}
.bioPic {
	width: 100%;
}
.random1 {
	width: 200px;
	height: 200px;
	position: absolute;
	right: 10vw;
	bottom: 14em;
	opacity: .6;
}
.random2 {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 10vw;
	bottom: 42em;
	opacity: .6;
}